.darkBG {
	background-color: #ADADAD;
}

.darkerBG {
	background-color : #8A8888;
}

.darkestBG {
	background-color: #666666;
}

.navbar-brand.Maroil {
	font-family: FORTE;
	color: red;
	font-size: 40px;
}
/*
@font-face {
	font-family: FORTE;
	src: url(styles/FORTE.TFF);
}*/